<html>
<link rel="stylesheet" href="../public/style.css"/>
<style>
  .container {
    margin-top: 5px;
    height: 80dvh;
    align-content: center;
  }
  h2 {
    background-color: transparent;
  }
  aside {
    margin-left: 30px;
    float: right;
  }
  .indent {
    text-indent: 1.7rem;
  }
</style>

  <body>
    <div class="container">
      <aside>
        <img src="../public/images/myPhoto.jpg" alt="photo" width="400rem">
      </aside>
        <h1>Hi, my name is Galyna.</h1>
        <p class="indent">
          Now live in London &#x1F1EC;&#x1F1E7;, which I love so much &#x1F970;, but Ukraine &#x1F1FA;&#x1F1E6;, where I was born and raised, always remains in my heart.&#x2764;&#xFE0F;
        </p>
        <p class="indent">
          My life is filled with various hobbies, including coding &#x1F4BB;, traveling &#x2708;, skiing &#x26F7;, and playing tennis &#x1F3BE;. <br/>
          It's important for me try to look at life with a positive outlook &#x1F60D;, even in difficult moments. Believe in the idea of <i>"When life gives you lemons </i>&#x1F34B;<i>, make lemonade </i>&#x1F964;<i>"</i>, but I also add to it " <i>and ENJOY... </i>&#x1F60B;".
        </p>
        <p class="indent">
          I think every situation can be a challenge, but it also provides an opportunity to grow and enjoy the process of development.
        </p>
      </div>
  </body>
</html>
