<html>
<link rel="stylesheet" href="../public/style.css"/>
<style>
  .container {
    margin-top: 5px;
    height: 80dvh;
    align-content: center;
  }
  address {
    margin-left: 5rem;
  }
  b {
    text-transform: uppercase;
  }
  .contact {
    margin-top: 3rem;
    text-align: left;
  }
  .social-networks {
    margin-top: 3rem;
  }
</style>

<body>
  <div class="container">
    <h1>Feel free to <b>contact</b> me anytime!</h1>
    <div class="contact">
      <p> &#x1F4F1; tel:
        <a href="tel:+447748412282">+44 7748 412 282</a>
      </p>
      <p>&#x1F4E7; email:
        <a href="mailto:hkzlvs@gmail.com">hkzlvs@gmail.com</a>
      </p>
      <p>&#x1F3E0; address: <address>SW19 <br>London <br>United Kingdom <br></address>
      </p>
    </div>
      <div class="social-networks">
        <p> LinkedIn:
          <a href="https://www.linkedin.com/in/halyna-k">https://www.linkedin.com/in/halyna-k</a>
        </p>
        <p> GitHub:
          <a href="https://github.com/Halyna-K">https://github.com/Halyna-K</a>
        </p>
      </div>

  </div>
</body>
</html>
