<html>
  <link rel="stylesheet" href="/public/style.css"/>
  <style>
    .container {
      margin-top: 5px;
      height: 80dvh;
      align-content: center;
    }
    ul {
      margin-top: 3rem;
    }
    li {
      font-size: 2rem;
    }
  </style>

    <body>
    <div class="container">
      <h1>My <b>Hobbies</b></h1>
      <ul>
        <li><b>Coding</b> &#x1F4BB; Bringing ideas to life through programming. </li>
        <li><b>Traveling</b> &#x2708; Exploring new countries and cultures.</li>
        <li><b>Skiing</b> &#x26F7; Speed and smooth gliding on snow.</li>
        <li><b>Tennis</b> &#x1F3BE; Active time spent with family and friends.</li>
      </ul>
    </div>
  </body>
</html>
