:root {
  --accent-color: #0170BF;
  --accent-hover-color: #0170bfbb;
  --background-color: #fff;
  --background-accent-color: #dedede;
  --background-secondary-accent-color: #f2f2f2;
  --text-color: #333;
}
body, header, nav, h1, h2, h3, h4, h5, h6, p, ul, li, a, button {
  margin: 0;
}
body {
  font-family: Arial, Calibri, sans-serif;
  font-size: 0.875rem; /* 14px */
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
header, footer {
  padding: 0.75rem 1.5rem;
}
nav {
  text-align: center;
}
button, nav > a {
  padding: 0.3125rem 0.625rem;
  font-size: 0.625rem; /* 10px */
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
button:hover, :focus, :active,
nav > a:hover, :focus, :active  {
  background-color: var(--accent-hover-color);
}
.container {
  width: 95%;
  min-width: 254px;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 15px #33333367;
  border: 1px solid var(--text-color);
}
address {
  margin: 0.625rem 0;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 1.25rem; /* 20px */
  font-weight: 200;
}
h2 {
  margin-top: 12px;
  padding: 5px;
  font-size: 1.125rem; /* 18px */
  text-transform: uppercase;
  background-color: var(--background-accent-color);
}
h3 {
  font-size: 1rem; /* 16px */
  text-transform: uppercase;
  background-color: var(--background-secondary-accent-color);
}
h5, .additional-text {
  font-size: 0.8125rem; /* 13px */
}
section:not(#contact), .additional-text {
  margin-top: 12px;
}
p, ul {
  margin-top: 8px;
  line-height: 1.3;
}
ul {
  padding-left: 0.75rem;
}
.text-accent {
  color: var(--accent-color);
}
.contact {
  text-align: center;
}
.social-networks {
  margin-top: 6px;
  font-size: 0.75rem; /* 12px */
}
.social-networks > p, .item {
  margin-top: 4px;
}
.education, #skills h4 {
  margin-top: 6px;
}
.education > p {
  margin-top: 0px;
}
#skills h4 {
  font-weight: normal;
}
.title-experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-experience:nth-child(1) {
  margin-top: 0.75rem;
}
#experience h4 {
  max-width: 200px;
  overflow-wrap: break-word;
}
#experience h5 {
  max-width: 120px;
  text-align: right;
}
#experience p {
  margin-bottom: 6px;
}
#experience b {
  font-style: italic;
}
footer {
  text-align: center;
  font-size: 0.75rem; /* 12px */
}

@media screen and (min-width: 780px) and (max-width: 1023px) {
  body {
    font-size: 1rem; /* 16px */
  }
  header, footer {
    padding: 1rem 2rem;
  }
  button, nav > a {
    padding: 0.5rem 1rem;
    font-size: 0.875rem; /* 14px */
    border-radius: 0.5rem;
  }
  address {
    margin: 0.75rem 0;
  }
  .container {
    max-width: 666px;
    padding: 2.25rem 3.5rem;
  }
  h1 {
    font-size: 1.75rem; /* 28px */
  }
  h2 {
    margin-top: 1.5rem;
    padding: 5px;
    font-size: 1.5rem; /* 24px */
  }
  h3 {
    font-size: 1.125rem; /* 18px */
  }
  h5, .additional-text {
    font-size: 0.9375rem; /* 15px */
  }
  section:not(#contact), .additional-text {
    margin-top: 0.875rem;
  }
  p, ul {
    line-height: 1.4;
  }
  p {
    margin-top: 0.75rem;
  }
  ul {
    padding-left: 1.5rem;
  }
  .contact {
    text-align: center;
    font-size: 1.125rem; /* 18px */
  }
  .social-networks {
    font-size: 1rem; /* 16px */
  }
  .title-experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item {
    margin-top: 0;
  }
  #education p, #qualifications p  {
    margin-top: 0;
    padding-left: 1rem;
  }
  footer {
    font-size: 0.75rem; /* 12px */
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.125rem ; /* 18px */
  }
  address {
    margin: 0.75rem 0;
  }
  header, footer {
    padding: 1.25rem 2.5rem;
  }
  nav {
    text-align: right;
  }
  button, nav > a {
    padding: 10px 20px;
    font-size: 0.875rem; /* 14px */
    border-radius: 0.5rem;
  }
  .container {
    max-width: 894px;
    padding: 3rem 4rem;
  }
  h1 {
    font-size: 2rem; /* 32px */
  }
  h2 {
    margin-top: 1.5rem;
    padding: 5px;
    font-size: 1.75rem; /* 28px */
  }
  h3 {
    font-size: 1.5rem; /* 24px */
  }
  h4 {
    font-size: 1.25rem; /* 20px */
  }
  h5, .additional-text {
    font-size: 1.125rem; /* 18px */
  }
  section:not(#contact), .additional-text {
    margin-top: 1.25rem;
  }
  p, ul {
    line-height: 1.5;
  }
  p {
    margin-top: 0.75rem;
  }
  ul {
    padding-left: 2rem;
  }
  .contact {
    text-align: center;
    font-size: 1.25rem; /* 20px */
  }
  .social-networks {
    font-size: 1.125rem; /* 18px */
  }
  .title-experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item {
    margin-top: 0;
  }
  #education p, #qualifications p  {
    margin-top: 0;
    padding-left: 1rem;
  }
  #experience h4 {
    max-width: 300px;
  }
  #experience h5 {
    max-width: 250px;
  }
  footer {
    font-size: 0.75rem; /* 12px */
  }
}

@media print {
  header, footer {
    display: none !important;
  }
  .container {
    size: A4;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    padding: 20px 25px;
    border: none !important;
    box-shadow: none !important;
    page-break-after: always;
  }
  h1 {
    font-size: 16pt;
  }
  h2 {
    margin-top: 0;
    padding: 0;
  }
  address {
    margin-bottom: 5px;
    font-style: normal;
  }
  section, h2 {
    margin-top: 10px !important;
    line-height: 1;
  }
  p, ul {
    margin-top: 5px;
    line-height: 1.2;
  }
  ul {
    margin-left: 10px;
  }
  .contact {
    font-size: 12pt;
  }
  .social-networks {
    margin-top: 10px;
    font-size: 10pt;
  }
  .title-experience {
    margin-bottom: 5px;
  }
  .additional-text {
    font-size: 10pt;
  }
  #experience h5 {
    max-width: 250px;
  }
}
