:root {
  --accent-color: #0170BF;
  --accent-hover-color: #0170bfbb;
  --background-color: #fff;
  --background-accent-color: #dedede;
  --background-secondary-accent-color: #f2f2f2;
  --text-color: #333;
}

body, header, nav, h1, h2, h3, h4, h5, h6, p, ul, li, a, button {
  margin: 0;
}

header {
  padding: 1rem 2rem;
}

nav {
  padding: 0.65rem;
  text-align: right;
  font-size: 1.3rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-hover-color);
}

body {
  font-family: Arial, Calibri, sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 6rem 10rem;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 15px #3333334c;
}

address {
  margin: 0.75rem 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-weight: 100;
}

h2 {
  margin-top: 1.5rem;
  padding: 5px;
  text-transform: uppercase;
  background-color: var(--background-accent-color);
}

h3 {
  text-transform: uppercase;
  background-color: var(--background-secondary-accent-color);
}

section:not(#contact), .additional-text {
  margin-top: 1.25rem;
}

ul {
  margin-top: 1rem;
  line-height: 1.5;
}

p {
  margin-top: 0.75rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.text-accent {
  color: var(--accent-color);
}

.contact {
  text-align: center;
  font-size: 1.75rem;
}

.social-networks {
  font-size: 1.3rem;
}

.education {
  list-style: none;
}

.title-experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-experience:nth-child(1) {
  margin-top: 0.75rem;
}

#education p, #qualifications p  {
  margin-top: 0;
}

#other a {
  text-decoration: underline;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
}

@media print {
  header, footer, #other {
    display: none !important;
  }

  .container {
    size: A4;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    padding: 30px 50px;
    border: none !important;
    box-shadow: none !important;
    page-break-after: always;
  }

  h1 {
    font-size: 16pt;
  }

  h2 {
    margin-top: 0;
    padding: 0;
  }
  address {
    margin-bottom: 5px;
    font-style: normal;
  }

  section, h2 {
    margin-top: 10px !important;
    line-height: 1;
  }

  ul {
    margin-top: 5px;
  }

  p {
    margin-top: 5px;
    line-height: 1;
  }

  .contact {
    font-size: 12pt;
  }

  .social-networks {
    margin-top: 10px;
    font-size: 10pt;
  }

  .title-experience {
    margin-bottom: 5px;
  }

  .additional-text {
    font-size: 10pt;
  }
}
